body { color : #221811; background-color: #ffffff; }
header { color : #FF0000; background-color: #0000FF; padding-top: 5px; padding-bottom: 5px; }
h1 { font-size: 3em; color : #FF0000; background-color: #0000FF; }
h2 { color : #ff0000; }
nav { text-align : center; font-weight : bold; font-size: 1.4em; padding-top: 5px; padding-bottom: 5px; }
nav a { text-decoration: none; }
footer { background-color: #D2B48C; font-size : .60em; font-style : italic; text-align : center; padding: 1em; border-top: 2px solid #8C3826;}
h3 {text-color: #8C3826;}
h4 {background-color: #D2B48C; font-size: 1.2em; padding-left: .5em; padding-bottom: .25em; }
dt {text-color: #8C3826;}
main {padding-left: 2em; padding-right: 2em; padding-bottom: 2em; display: block;}
details {padding-left: 20%; padding-right: 20%;}
img {padding-left: 10px; padding-right: 10px;}
table { margin: auto;
        border: 5px solid #000066;
        width: 600px; }
td, th { border: 1px solid #000066;
         padding: 0.5em;
         font-family: Arial, sans-serif; }


#wrapper { width : 80%; background-color : #ffffff; margin-right : auto; margin-left : auto; min-width: 900px; max-width: 1280px; box-shadow: 10px 10px; }

#newswrapper { width : 80%; background-color : #FEFAEB; margin-right : auto; margin-left : auto; min-width: 900px; max-width: 1280px; box-shadow: 10px 10px; border: 2px solid black; }

#myInput { padding: 12px 20px 12px 40px; width: 100%; text-align: center; font-size: 16px;}

.item {
  background-color: #FAF9F7;
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
  overflow: auto;
}

.item img {
  float: right;
}
